
    
    <div class="container">
        <div class="navbar">
            <h1>Menú de Administración</h1>
            <nav>
                <ul class="menu">
                    <li><a href="/roles">Gestión de Roles</a></li>
                    <li><a href="/empleados">Gestión de Empleados</a></li>
                    <li><a href="/pedidos">Gestión de Pedidos</a></li>
                    <li class="navbar-item"><a href="/reportes-ingresos" class="navbar-link">Reportes de Ingresos</a></li>
                </ul>
            </nav>
        </div>
        <footer>
            
        </footer>
    </div>
</body>
</html> 
