body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.body-login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: rgba(80, 9, 9, 0.805)
}

.registro-container {
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    width: 100%;
}

.registro-form h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
    text-align: center;
}

.registro-form hr {
    border: 0;
    height: 1px;
    background: #ddd;
    margin-bottom: 20px;
}

.registro-form p {
    font-size: 14px;
    color: #666;
    text-align: center;
    margin-bottom: 30px;
}

.input-box {
    margin-bottom: 20px;
}

.input-box label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
}

.input-box input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

.button-p {
    width: 100%;
    padding: 10px;
    background-color: #890606;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    
}

.button-p:hover {
    background-color: #c21e0f;
    
}

.remember-forgot a {
    color: #007bff;
    text-decoration: none;
    display: block;
    text-align: center;
    margin-top: 20px;
}

.remember-forgot a:hover {
    text-decoration: underline;
}

#mensaje-error {
    color: red;
    font-size: 14px;
    margin-top: 5px;
    display: none;
}

.registro-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

@media (max-width: 768px) {
    .registro-grid {
        grid-template-columns: 1fr;
    }
}