@import url(colors.css);
@import url(font.css);
@import url(basic.css);
@import url(https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&display=swap);

* {
    box-sizing: border-box;
}

.goodday-body {
    margin: 0px;
    height: 200vh;
    color: var(--text-color);
    background-color: var(--primary-color);
    border-radius: 20px;
    overflow-y: scroll;
}

.goodday-body::-webkit-scrollbar {
    display: none;
}

.goodday-grid-container > * {
    padding: 5px;
    border-radius: 10px;
    text-align: center;
    background: #b62121;
}

.goodday-grid-container {
    color: #000;
    display: grid;
    padding: 5px;
    gap: 0px;
    grid-template-areas:
        "nav-logo nav-user"
        "header header"
        "aside-banner aside-banner"
        "aside-menu aside-menu"
        "section section";
    grid-template-rows: 50px 50px auto 300px auto;
    grid-template-columns: auto auto;
}

.goodday-nav-logo { grid-area: nav-logo; }
.goodday-header { grid-area: header; }
.goodday-aside-banner { 
    grid-area: aside-banner; 
    background: #f1f1f1;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    aspect-ratio: 4/4;
}
.goodday-aside-menu{
    grid-area: aside-menu; 
    background: #4d3030;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.goodday-section {
    grid-area: section;
    width: 100%;
    margin-top: auto;
    aspect-ratio: 3 / 12;
    max-height: 85vh;
}

.goodday-text {
    padding: 0;
    margin: 0;
    font-size: 8vw;
    font-weight: 700;
    letter-spacing: 5px;    
    word-spacing: 50px;
    justify-content: space-between;
}

@media (min-width: 768px) {
    .goodday-grid-container {
        grid-template-areas:
        "nav-logo nav-user"
        "header header"
        "aside-banner aside-banner"
        "aside-menu aside-menu"
        "section section";
        grid-template-rows: 80px 80px auto 300px auto;
        grid-template-columns: 400px auto;
    }
    .goodday-text {
        padding: 0;
        margin: 0;
        font-size: 6vw;
        font-weight: 700;
        word-spacing: 80px;
    }
    .goodday-section { 
        grid-area: section; 
        width: 100%;
        height: 100%;
        margin-top: auto;
        aspect-ratio: 4/10;
        max-height: 106vh;
    }
}

@media (min-width: 992px) {
    .goodday-grid-container {
        grid-template-areas: 
            "nav-logo header nav-user"
            "aside-banner aside-banner aside-banner"
            "aside-menu aside-menu aside-menu"
            "section section section";
        grid-template-rows: 90px auto 300px auto;
        grid-template-columns: 250px auto 250px;
    }
    .goodday-text {
        padding: 0;
        margin: 0;
        font-size: 6.2vw;
        font-weight: 700;
        word-spacing: 90px;
    }
    .goodday-section { 
        grid-area: section; 
        width: 100%;
        height: 100%;
        margin-top: auto;
        aspect-ratio: 4/10;
        max-height: 99vh;
    }
}
@media (min-width: 1500px) {
    .goodday-grid-container {
        grid-template-areas: 
            "nav-logo header nav-user"
            "aside-banner aside-banner aside-banner"
            "aside-menu aside-menu aside-menu"
            "section section section";
        grid-template-rows: 90px auto 300px auto;
        grid-template-columns: 300px auto 300px;
    }
    .goodday-text {
        padding: 0;
        margin: 0;
        font-size: 6.0vw;
        font-weight: 700;
        word-spacing: 120px;
    }
}
@media (min-width: 1669px) {
    .goodday-grid-container {
        grid-template-areas: 
            "nav-logo header nav-user"
            "aside-banner aside-banner aside-banner"
            "aside-menu aside-menu aside-menu"
            "section section section";
        grid-template-rows: 90px auto 300px auto;
        grid-template-columns: 300px auto 300px;
    }
    .goodday-text {
        padding: 0;
        margin: 0;
        font-size: 6.8vw;
        font-weight: 700;
        word-spacing: 110px;
    }
}