<!DOCTYPE html> 
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carta de Menú</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link th:include="components/link"></link>
</head>
<body>
    <header class="header">
        <div id="menu-container"></div>
    </header>

    <main class="main">
        <div class="categorias">
            <div class="bebidas">
                <img src="/static/images/bebidas.jpg" alt="">
                <div class="categoria-info">
                    <h3>Bebidas</h3>
                </div>
            </div>
            <div class="postres">
                <img src="/static/images/postres.jpg" alt="">
                <div class="categoria-info">
                    <h3>Postres</h3>
                </div>
            </div>
            <div class="platillos">
                <img src="/static/images/platillos.jpg" alt="">
                <div class="categoria-info">
                    <h3>Platillos</h3>
                </div>
            </div>
        </div>
    </main>

    <section class="section carta-section">
        <div class="carta carta-container">
            <h3 class="carta-title">Carta de Menú</h3>
    
            <div class="carta-content">
                <!-- Categoría Bebidas -->
                <h4 class="carta-category-title">Bebidas</h4>
                <div class="productos">
                    <div th:if="${bebidas != null and bebidas.size() > 0}" th:each="producto : ${bebidas}" class="carta-item">
                        <div class="producto-image-container">
                                <img th:src="@{./upload/productos/{producto.FotoProducto}.jpg}" th:alt="'Imagen de ' + ${producto.FotoProducto}" class="producto-image">
                                <img th:src="@{/upload/productos/{producto.FotoProducto}.jpg}" th:alt="'Imagen de ' + ${producto.FotoProducto}" class="producto-image">

                            <br>
                                <p th:text="${producto.FotoProducto}"></p>  <!-- Esto imprimirá el valor de FotoProducto -->

                        </div>
                        <div class="producto-info">
                            <h5 th:text="${producto.nomProd}" class="producto-title"></h5>
                            <p th:text="${producto.descripcion}" class="producto-description"></p>
                            <p th:text="'Precio: ' + ${producto.precioUnitario}" class="producto-price"></p>
                        </div>
                    </div>
                </div>
                <!-- Categoría Platillos -->
                <h4 class="carta-category-title">Platillos</h4>
                <div class="productos">
                    <div th:if="${platillos != null and platillos.size() > 0}" th:each="producto : ${platillos}" class="carta-item">
                        <div class="producto-image-container">
                            <!-- Asegúrate de que el valor de FotoProducto sea correcto -->
                            <img th:src="@{/upload/productos/{producto.FotoProducto}(fotoProducto=${producto.FotoProducto})}" 
                                 th:alt="'Imagen de ' + ${producto.FotoProducto}" class="producto-image">

                                 <img th:src="@{/upload/productos/{producto.FotoProducto}.jpg}" th:alt="'Imagen de ' + ${producto.FotoProducto}" class="producto-image">
                                 <img th:src="@{upload/productos/{producto.FotoProducto}.jpg}" th:alt="'Imagen de ' + ${producto.FotoProducto}" class="producto-image">

                        </div>
                        
                        <div class="producto-info">
                            <h5 th:text="${producto.nomProd}" class="producto-title"></h5>
                            <p th:text="${producto.descripcion}" class="producto-description"></p>
                            <p th:text="'Precio: ' + ${producto.precioUnitario}" class="producto-price"></p>
                        </div>
                    </div>
                </div>
                <!-- Categoría Postres -->
                <h4 class="carta-category-title">Postres</h4>
                <div class="productos">
                    <div th:if="${postres != null and postres.size() > 0}" th:each="producto : ${postres}" class="producto carta-item">
                        <div class="producto-image-container">
                            <img th:src="@{/static/images/img-producto/{fotoProd}.jpg(name=${producto.fotoProducto})}" th:alt="'Imagen de ' + ${producto.nomProd}" class="producto-image">

                            <img th:src="@{/upload/productos/{producto.FotoProducto}.jpg}" th:alt="'Imagen de ' + ${producto.FotoProducto}" class="producto-image">

                        </div>
                        <div class="producto-info">
                            <h5 th:text="${producto.nomProd}" class="producto-title"></h5>
                            <p th:text="${producto.descripcion}" class="producto-description"></p>
                            <p th:text="'Precio: ' + ${producto.precioUnitario}" class="producto-price"></p>
                        </div>
                    </div>
                </div>
            
            </div>
        </div>
    </section>
    

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
