<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${empleado.idEmpleado} == null ? 'Agregar Empleado' : 'Editar Empleado'"></title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <script>
        function redirectToCreateRole() {
            window.location.href = '/roles/nuevo'; // Redirige a la página de creación de rol
        }
    </script>
</head>
<body>
    <div th:include="components/adminMenu"></div>
    <h1 th:text="${empleado.idEmpleado} == null ? 'Agregar Empleado' : 'Editar Empleado'"></h1>
    <form th:action="@{/empleados}" th:object="${empleado}" method="post">
        <input type="hidden" th:field="*{idEmpleado}"/>
        <label>Nombre:</label>
        <input type="text" th:field="*{nombre}" required/>
        <label>Apellido Paterno:</label>
        <input type="text" th:field="*{apellidoPaterno}" required/>
        <label>Apellido Materno:</label>
        <input type="text" th:field="*{apellidoMaterno}" required/>
        <label>Usuario:</label>
        <input type="text" th:field="*{usuario}" required/>
        <label>Contraseña:</label>
        <input type="password" th:field="*{contraseña}" required/>

        <!-- Campos para DetalleEmpleado -->
        <h3>Detalles del Empleado</h3>
        <label>Teléfono:</label>
        <input type="text" th:field="*{detalleEmpleado.telefono}" required/>
        <label>Correo:</label>
        <input type="email" th:field="*{detalleEmpleado.correo}" required/>
        <label>Foto:</label>
        <input type="text" th:field="*{detalleEmpleado.foto}" required/>

        <label>Rol:</label>
        <select th:field="*{rol.idRol}" required onchange="if(this.value === 'nuevo') redirectToCreateRole()">
            <option th:each="rol : ${roles}" th:value="${rol.idRol}" th:text="${rol.nomRol}"></option>
            <option value="nuevo">Crear Nuevo Rol</option>
        </select>
        <button type="submit">Siguiente</button>
    </form>
    <a href="/empleados">Volver a la lista</a>
</body>
</html>
