<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista de Detalles de Empleados</title>
</head>
<body>
    <h1>Lista de Detalles de Empleados</h1>
    <a href="/detalle-empleado/nuevo">Agregar Nuevo Detalle</a>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Teléfono</th>
                <th>Correo</th>
                <th>Foto</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="detalle : ${detalles}">
                <td th:text="${detalle.idDetalleEmp}"></td>
                <td th:text="${detalle.telefono}"></td>
                <td th:text="${detalle.correo}"></td>
                <td th:text="${detalle.foto}"></td>
                <td>
                    <a th:href="@{/detalle-empleados/{id}/editar(id=${detalle.idDetalleEmp})}">Editar</a>
                    <a th:href="@{/detalle-empleados/{id}/eliminar(id=${detalle.idDetalleEmp})}" onclick="return confirm('¿Estás seguro de que deseas eliminar este detalle?');">Eliminar</a>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html> 