<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${producto.nomProducto}">Detalles del Producto</title>
    <link th:include="components/link"></link>
</head>
<body>
    <section class="modal_producto">
        <div class="producto-detalle">
            <h4 th:text="${producto.nomProducto}" class="producto-title"></h4>
            <img th:src="@{/upload/productos/{filename}.jpg(filename=${producto.FotoProducto})}" 
                 th:alt="'Imagen de ' + ${producto.FotoProducto}" class="producto-image">
            <p th:text="'Precio: S/. ' + ${producto.precioUnitario}" class="producto-price"></p>
            <p th:text="${producto.descripcion}" class="producto-description"></p>
        </div>
        <div class="users_btn">
            <button class="button button_2 bg_dark color_light sz16 font_w500">Agregar al Carrito</button>
        </div>
    </section>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
